USE [master]
GO
/****** Object:  Database [whats_db]    Script Date: 10/21/2024 8:45:18 AM ******/
CREATE DATABASE [whats_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'whats_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\whats_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'whats_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\whats_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [whats_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [whats_db]
GO
/****** Object:  User [bnanwhats]    Script Date: 10/21/2024 8:45:18 AM ******/
CREATE USER [bnanwhats] FOR LOGIN [bnanwhats] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Renter]    Script Date: 10/21/2024 8:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renter](
	[Renter_Id] [varchar](15) NOT NULL,
	[Renter_Person_EnName] [nvarchar](50) NULL,
	[Renter_Person_ArName] [nvarchar](50) NULL,
	[Renter_country_Key] [varchar](5) NULL,
	[Renter_PhoneNumber] [varchar](20) NULL,
	[Renter_Status] [char](1) NULL,
 CONSTRAINT [PK_Renter] PRIMARY KEY CLUSTERED 
(
	[Renter_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[https_log]    Script Date: 10/21/2024 8:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[https_log](
	[row_no] [int] IDENTITY(1,1) NOT NULL,
	[enterdate] [datetime] NOT NULL,
	[ipaddress] [varchar](150) NULL,
	[parm_text] [text] NULL,
	[body_text] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 10/21/2024 8:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Message_Id] [varchar](50) NOT NULL,
	[Message_connect_Id] [char](4) NULL,
	[Message_Renter_Id] [nvarchar](20) NULL,
	[Message_Sent_DateTime] [datetime] NULL,
	[Message_Received_DateTime] [datetime] NULL,
	[Message_Read_DateTime] [datetime] NULL,
	[Message_Deleted_DateTime] [datetime] NULL,
	[Message_Type] [varchar](2) NULL,
	[Message_PhoneNumberFull] [varchar](20) NULL,
	[Message_Text] [nvarchar](500) NULL,
	[Message_Status] [char](1) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Message_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 10/21/2024 8:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[company_id] [varchar](4) NOT NULL,
	[company_name] [nvarchar](50) NULL,
	[company_status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[connect]    Script Date: 10/21/2024 8:45:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[connect](
	[connect_id] [varchar](4) NOT NULL,
	[connect_serial] [nvarchar](5) NULL,
	[connect_name] [nvarchar](50) NULL,
	[connect_mobile] [varchar](20) NULL,
	[connect_deviceType] [nvarchar](20) NULL,
	[connect_isBussenis] [nvarchar](20) NULL,
	[connect_Login_Datetime] [datetime] NULL,
	[connect_LogOut_Datetime] [datetime] NULL,
	[connect_status] [char](1) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Renter] ([Renter_Id], [Renter_Person_EnName], [Renter_Person_ArName], [Renter_country_Key], [Renter_PhoneNumber], [Renter_Status]) VALUES (N'800317011929306', N'Wafa Rashid Hamad Al-Badawi', N'مازن', N'20', N'1112847004', N'A')
INSERT [dbo].[Renter] ([Renter_Id], [Renter_Person_EnName], [Renter_Person_ArName], [Renter_country_Key], [Renter_PhoneNumber], [Renter_Status]) VALUES (N'800341053576735', N'Manal Abdul Rahman Abdul Majeed Al-Fawzan', N'عمر', N'20', N'1126807002', N'A')
INSERT [dbo].[Renter] ([Renter_Id], [Renter_Person_EnName], [Renter_Person_ArName], [Renter_country_Key], [Renter_PhoneNumber], [Renter_Status]) VALUES (N'800483257962807', N'Nora Abdul-Wadud Fahhad Al-Madiheesh', N'نورة عبدالودود فهاد المديهيش', N'5', N'43563', N'A')
GO
INSERT [dbo].[Message] ([Message_Id], [Message_connect_Id], [Message_Renter_Id], [Message_Sent_DateTime], [Message_Received_DateTime], [Message_Read_DateTime], [Message_Deleted_DateTime], [Message_Type], [Message_PhoneNumberFull], [Message_Text], [Message_Status]) VALUES (N'3EB00598A02139C3F15EC0', N'4042', N'800317011929306', CAST(N'2024-10-16T16:56:19.033' AS DateTime), NULL, NULL, NULL, N'T', N'201112847004', N'ال', N'A')
INSERT [dbo].[Message] ([Message_Id], [Message_connect_Id], [Message_Renter_Id], [Message_Sent_DateTime], [Message_Received_DateTime], [Message_Read_DateTime], [Message_Deleted_DateTime], [Message_Type], [Message_PhoneNumberFull], [Message_Text], [Message_Status]) VALUES (N'3EB0068B7CE1FD45F2E0C4', N'4051', N'800317011929306', CAST(N'2024-10-20T12:35:36.207' AS DateTime), NULL, NULL, NULL, N'T', N'201112847004', N'l5', N'A')
INSERT [dbo].[Message] ([Message_Id], [Message_connect_Id], [Message_Renter_Id], [Message_Sent_DateTime], [Message_Received_DateTime], [Message_Read_DateTime], [Message_Deleted_DateTime], [Message_Type], [Message_PhoneNumberFull], [Message_Text], [Message_Status]) VALUES (N'3EB0129189654EEB81B67C', N'4042', N'800317011929306', CAST(N'2024-10-16T15:06:31.487' AS DateTime), NULL, NULL, NULL, N'T', N'201112847004', N'lhh', N'A')
GO
INSERT [dbo].[company] ([company_id], [company_name], [company_status]) VALUES (N'4013', N'الودق', N'A')
INSERT [dbo].[company] ([company_id], [company_name], [company_status]) VALUES (N'4045', N'اليوم', N'A')
INSERT [dbo].[company] ([company_id], [company_name], [company_status]) VALUES (N'4046', N'keko', N'A')
GO
INSERT [dbo].[connect] ([connect_id],[connect_serial], [connect_name], [connect_mobile], [connect_deviceType], [connect_isBussenis], [connect_Login_Datetime], [connect_LogOut_Datetime], [connect_status]) VALUES (N'4076','0', NULL, NULL, NULL, NULL, NULL, NULL, N'N')
INSERT [dbo].[connect] ([connect_id],[connect_serial], [connect_name], [connect_mobile], [connect_deviceType], [connect_isBussenis], [connect_Login_Datetime], [connect_LogOut_Datetime], [connect_status]) VALUES (N'4046','0', N'Mazen Essam Elmohamady', N'201112847004', N'android', N'undefined', CAST(N'2024-10-20T14:14:02.043' AS DateTime), NULL, N'A')
INSERT [dbo].[connect] ([connect_id],[connect_serial], [connect_name], [connect_mobile], [connect_deviceType], [connect_isBussenis], [connect_Login_Datetime], [connect_LogOut_Datetime], [connect_status]) VALUES (N'4060','0', N'Mazen Essam Elmohamady', N'201112847004', N'android', N'undefined', CAST(N'2024-10-17T17:28:38.337' AS DateTime), CAST(N'2024-10-17T17:29:25.593' AS DateTime), N'D')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [index_name]    Script Date: 10/21/2024 8:45:18 AM ******/
CREATE NONCLUSTERED INDEX [index_name] ON [dbo].[connect]
(
	[connect_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[https_log] ADD  CONSTRAINT [DF_https_log_enterdate]  DEFAULT (getdate()) FOR [enterdate]
GO
ALTER TABLE [dbo].[company] ADD  DEFAULT (NULL) FOR [company_name]
GO
ALTER TABLE [dbo].[company] ADD  DEFAULT ('N') FOR [company_status]
GO
ALTER TABLE [dbo].[connect] ADD  DEFAULT (NULL) FOR [connect_name]
GO
ALTER TABLE [dbo].[connect] ADD  DEFAULT (NULL) FOR [connect_mobile]
GO
ALTER TABLE [dbo].[connect] ADD  DEFAULT (NULL) FOR [connect_deviceType]
GO
ALTER TABLE [dbo].[connect] ADD  DEFAULT (NULL) FOR [connect_isBussenis]
GO
ALTER TABLE [dbo].[connect] ADD  DEFAULT (NULL) FOR [connect_Login_Datetime]
GO
ALTER TABLE [dbo].[connect] ADD  DEFAULT (NULL) FOR [connect_LogOut_Datetime]
GO
ALTER TABLE [dbo].[connect] ADD  DEFAULT ('N') FOR [connect_status]
GO
ALTER TABLE [dbo].[connect]  WITH CHECK ADD FOREIGN KEY([connect_id])
REFERENCES [dbo].[company] ([company_id])
ON DELETE CASCADE
GO
USE [master]
GO
